body {
  background-color:#FFFCF9;
  overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


svg{
  width:100%;
  height:100%;
 
}
#app{
  width:100%;
  height:100%;
 
}

.hit{
 -webkit-tap-highlight-color:transparent;
}

.withInset{
 filter:url(#insetShadow)
}

.withDrop{
 
 filter:url(#dropShadow)
}